<% provide(:nav_path, (render 'layouts/course_path', nav_path: ['Presentations'])) %>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Presentation Team</th>
            <th scope="col">Due</th>
            <th scope="col">Grade</th>
            <th scope="col">Out of</th>
            <th scope="col">Percentage Score</th>
            <th></th>
            <th></th>
            <td></td>
        </tr>
    </thead>
    <tbody>

    <% Presentation.all.each do |presentation| %>
        <tr>
            <th scope="row"><%=presentation.name %></th>
            <td><%= presentation.users.map {|user| user.name}.join(', ') %></td>
            <td><%= presentation.duedate.to_formatted_s(:short) %></td>
            <td><%= presentation.grade ? presentation.grade : "Not Graded" %></td>
            <td><%= presentation.pointvalue %></td>
            <td><%= presentation.grade ? (presentation.grade/presentation.pointvalue*100).round(2).to_s + "%" : "N/A" %></td>
            <td><a href="<%= presentation_path(presentation)%>" class="btn btn-info" role="button">Show Evaluations</a></td>
            <td><a href="<%= edit_presentation_path(presentation)%>" class="btn btn-primary" role="button">Grade/Edit</a></td>
            <td><%= link_to "Delete", presentation, data: { "turbo-method": :delete, turbo_confirm: "Would you like to delete presentation #{presentation.name}?" }, class: "btn btn-danger"   %></td>
        </tr>
    <% end %>
    </tbody>
</table>