<div id="side-navbar">
    <ul>
        <li class="section"><%= link_to "Announcements", announcements_path, class: is_active('announcements', 'index') %></li>
        <li class="section"><%= link_to "Grade Book", gradebook_path, class: is_active('static_pages', 'gradebook') %></li>
        <li class="section"><%= link_to "Presentations", presentations_path, class: is_active('presentations', 'index') %></li>
        <li class="section"><%= link_to "Make A New Presentation", new_presentation_path, class: is_active('presentations', 'new') %></li>
        <li class="section"><%= link_to "Roster", users_path, class: is_active('users', 'index') %></li>
    </ul>
</div>
<div id="side-navbar-spacer">
</div>