Your profile: <%= @user.name %>, <%= @user.email %>
<h1>Upcoming Presentations</h1>
    <%= render 'presentations/presentation_table', presentations: @user.presentations %>
<h1>Upcoming Evaluations</h1>
<% @user.evaluations.each do |e| %>
    <% if !e.submitted %>
        <%= link_to e.presentation.name, edit_evaluation_path(e) %>:
        <% e.presentation.users.each do |user| %>
            <%= user.name %>,
        <% end %>
    <% end %>
<% end %>
<h1>Completed Presentations:</h1>
<% @user.presentations.each do |p| %>
    <% if p.submitted %>
        <%= link_to p.name, presentation_path(p) %>
    <% end %>
<% end %>
